/* global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/* typography (h1, h2, a, etc)*/

h2, h3, h4, h5, h6 {
    text-align: center;
    margin: 0;
    padding: 5px;
}
h3 {
    font-style: italic;
}
p {
    width: 300px;
    text-align: left;
    font-style: oblique;
    padding: 10px;
}
p .recruit {
    font-size: 32px;
}

/* layout (header, sections, footer - in order)*/
header, footer {
    background: #1F2937;
    color: white;
    padding: 50px;
    margin-bottom: 50px;
}
.container-header {
    display: flex;
    justify-content: center;
    display: flex;
}
.campaign {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    padding: 0px 50px 20px;
}
.info1 {
    font-style: italic;
    font-size: 18px;
    text-align: left;
    width: 600px;
    padding: 0px 50px;
}
.info2 {
    width: 600px;
    font-size: 18px;
    justify-content: flex-start;
    padding: 0px 50px;
}
.icewind-dale {
    border: none;
    width: 200px;
    height: 200px;   
}
.container-one{ 
    padding: 50px 250px;
   
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
img, one, two, three, four {
    color: #3882f6;
    border-style: solid;
    border-radius: 5px;
    width: 300px;
    height: 300px; 
}
.quote-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #E5E7EB;
}
.quote {    
    padding: 50px 60px 0px;
    font-style: italic;
    font-family: cursive;
    font-size: 24px;
    text-align: center;
}
span {
    font-style: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    padding: 5px;
}
.action {
    background: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 25px;
    margin: 50px 600px;
    text-align: center;     
}
div .join {
    font-size: 28px;
    font-weight: 600;
 }
div .apply {
    font-size: 18px;
    font-style: italic;
}
.button {
    background: #8bb2f1;
    color: white;
    border-style: solid;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px;
}
.button:hover {
    background: lightblue;
}
